{% extends 'base/home.html' %}

    
    {% block content %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}

        </ul>
        {% endif %}




        <div>
            <form action="" method="POST">
                {% csrf_token %}
                
                <label>Username:</label>
                <input type="text" name="email" placeholder="Enter email" />
                
                <label>Password:</label>
                <input type="text" name="name" placeholder="Enter name">
                
                <input type="submit" value="OK">
            </form>
        </div>
    {% endblock %}